body {
  font-family: 'Raleway', sans-serif;
}
.tab-centered, .NavBar-search-3 {
  float: none;
  margin: 0 auto;
}
.tab-container {
  background-color: rgba(63,81,181, .9);
  color: #fff;
  margin-bottom: 20px;
}